<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
	<section>
		<div class="container mt-5">
			<h1 class=text-center
				style="font-family: 'Monotype Corsiva'; color: #E6120E">About
				Us</h1>
			<br> <br>
			<div class="row">
				<div class="col-sm-4 text-center">
					<img src="../img/about.jpg" width=300 height=300
						class="img-responsive">
				</div>
				<div class="col-sm-8 mt-5" style="font-weight: bold;">eNotes
					is a free student and teacher educational website founded in 1998
					by Brad Satoris and Alexander Bloomingdale, that provides material
					to help students complete homework assignments and study for exams.
					Based in Seattle, Washington, eNotes specializes in lesson plans,
					study guides and literary criticisms. It also hosts an active
					homework help portal where students can ask educators academic
					questions. The Homework Help section has hundreds of thousands of
					questions with answers.</div>
			</div>
		</div>

		<div class="mt-3"
			style="background-color: rgb(64, 0, 64); width: 100%; height: 180px">
			<div class="container">
				<div class="row">
					<div class="col-md-4 mt-2">
						<h3 class="text-white">Enotes Management</h3>
						<p style="color: yellow; font-size: 16px">
							<i class="fa fa-map-marker text-danger"></i> Bangalore -560078
						</p>
						<p style="color: yellow; font-size: 16px">
							<i class="fa fa-envelope text-danger"></i> abc123@gmail.com
						</p>
						<p style="color: yellow; font-size: 16px">
							<i class="fas fa-phone-volume text-danger"></i> +91 1234567890
						</p>

					</div>

					<div class="col-md-4 mt-2">

						<h3 class="text-white">* Useful Links :-</h3>
						<a href="#"><p style="color: yellow; font-size: 16px">Home</p></a>
						<a href="#"><p style="color: yellow; font-size: 16px">About
								us</p></a> <a href="#"><p style="color: yellow; font-size: 16px">Contact</p></a>


					</div>

					<div class="col-md-4 mt-2">
						<h3 class="text-white">Meeting Time :-</h3>
						<p style="color: yellow; font-size: 16px">Monday to Saturday
							:- 10:00AM to 06:00PM</p>
						<p style="color: yellow; font-size: 16px">Sunday :- 08:00 AM
							to 05:00PM</p>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>